*{
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 110%;
 background-color: grey;
}

.center{
border-radius: 90%;
  width: 500px;
  height: 500px;
}
h4{
  color: red;
}